* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

button {
    width: 75px;
    height: 25px;
    margin: 10px;
}

#container {
    width: 960px;
    display: flex;
    flex-wrap: wrap;
}

.grid {
    border: 1px solid purple;

}

.grid:hover {
    background-color: aqua;
}
